node_modules/
*.log
.env
.DS_Store
Thumbs.db
CONFIGURAÇÃO*
DEPLOY*
db.*
docker*
Docker*
funcional_test*
GUIA_DE_USO.MD
INSTALAÇÃO.MD
MANUAL*
PRODUCAO*
production_checklist*
PROXIMAS*
SOBRE_BANCO*
test_output.txt
test*
updat_*
verificar_*